@import url('https://fonts.googleapis.com/css?family=Roboto:500');
body {
    background-color: #1d2733;
    padding-top: 1%;
    color: #fff;
}

.boton {
    color: #a9bffa;
    background-color: #1d2733;
    border: 1px solid#384b91;
    border-radius: 3px;
}

.boton:hover {
    color: #1d2733;
    background-color: #a9bffa;
}