* {
    box-sizing: border-box;
}
button {
    flex-basis: 20%;
}
.botonera {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    background-color: black;  
}
#amarillo{
    background-color: yellow;
}
#verde{
    background-color: green;
}
#azul{
    background-color: blue;
}
#rojo {
   background-color: red;
}
.contenedor {
    max-height: 80%;
    flex-wrap: wrap;
    height: 80%;
    font-size:30px;
    text-align: center;
    display: flex;
    flex-direction: column; justify-content:center;
}